.achievement {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 0;
  margin-bottom: 10px;
}

.achievement__title {
  position: relative;
  bottom: 9px;
  padding: 0 15px;
  background-color: $grey;
  text-align: center;
  font-family: $arial;
  font-size: 12px;
  line-height: 12px;
  color: $font-grey;
  text-transform: lowercase;
}

.achievement__value {
  box-sizing: border-box;
  min-width: 124px;
  margin: 0;
  padding-top: 13px;
  padding-bottom: 17px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid $border-grey;
  border-radius: 3px;
}
