.additional {
  padding: 0 0 35px;

  @include tablet {
    padding-bottom: 75px;
  }

  @include desktop {
    padding-bottom: 85px;
  }
}

.additional__wrapper {
  @include desktop {
    display: flex;
    justify-content: space-between;
  }
}

.additional__title {
  position: relative;
  margin-top: 29px;
  margin-bottom: 33px;
  margin-left: -1px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  background-image: linear-gradient(to bottom, transparent 0, transparent 14px, $green 14px, $green 17px, transparent 17px, transparent 100%);

  span {
    display: table;
    padding: 0 20px;
    background-color: #ffffff;
  }

  @include tablet {
    padding: 0 calc((100vw - 708px) / 2);
    font-size: 36px;
    margin-top: 33px;
    margin-bottom: 80px;
    background-image: linear-gradient(to bottom, transparent 0, transparent 22px, $green 22px, $green 25px, transparent 25px, transparent 100%);

    br {
      display: none;
    }

    span {
      padding: 0 38px;
    }
  }

  @include desktop {
    padding: 0 calc((100vw - 1300px) / 2);
    margin-top: 39px;
  }
}

.additional__list {
  @include reset-list;
  margin-bottom: 39px;

  @include tablet {
    margin-bottom: 69px;
  }

  @include desktop {
    margin-bottom: 0;
  }
}
