.catalog {
  margin: 0 auto;
}

.catalog__list {
  padding: 0;

  @include tablet {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  @include desktop {
    margin-bottom: 41px;
  }
}

.catalog__header {
  padding-bottom: 20px;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  padding: 0 20px 24px;
  border-top: 1px solid #ededed;

  &:last-child {
    border-bottom: 1px solid #ededed;
  }

  @include tablet {
    margin: 107px 30px 34px;
    padding: 42px 37px 39px;
    width: 324px;
    border-top: none;
    box-sizing: border-box;
    background-color: $grey;

    &--more {
      background-color: #ffffff;
      border: 1px solid #ededed;
    }
  }

  @include desktop {
    width: 245px;
    margin: 107px 40px 35px;
    padding: 43px 38px 39px;
  }
}
