.product {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  @include tablet {
    flex-direction: column;
  }
}

.product__image {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  min-width: 50%;
  height: 144px;

  @include tablet {
    align-items: flex-end;
    padding-bottom: 33px;
    width: 100%;
    height: 87px;
  }

  & > picture {
    margin-left: -40px;
    margin-right: -40px;
  }

  & > picture img {
    @include tablet {
      width: 100%;
      height: auto;
    }
  }
}

.product__content {
  flex-grow: 1;
  width: 50%;

  @include tablet {
    width: auto;
    align-self: stretch;
    padding-top: 2px;
    background-color: $grey;
  }
}

.product__name {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  width: 60%;
  margin-top: 0;
  margin-bottom: 12px;

  @include tablet {
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
  }

  @include desktop {
    width: 80%;
  }
}

.product__link {
  text-decoration: none;
  color: #000000;
}

.product__details {
  width: 100%;
  font-family: $arial;

  border-collapse: collapse;
  color: $font-grey;

  & td {
    padding: 0;
    font-size: 12px;
    line-height: 17px;
  }

  & td:last-child {
    text-align: right;
  }


  @include tablet {
    margin-top: 18px;
    margin-bottom: 33px;

    & tr {
      border-bottom: 1px solid $border-grey;
    }

    & td {
      padding: 8px 0;
      font-size: 16px;
      line-height: 15px;
    }
  }
}
