.page {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.page__title {
  margin: 0;
  font-size: 36px;
  line-height: 60px;
  color: $black;
}

.page__title--catalog {
  padding: 0 20px;
  margin-top: 15px;
  padding-bottom: 28px;
}

.page__title--form {
  margin-top: 15px;
  padding-bottom: 11px;
}

.page__text {
  font-size: 14px;
}

.page__text--form {
  width: 85%;
  text-transform: uppercase;
  margin-bottom: 20px;
}
