.page-header {
  position: relative;
  background-color: $white;

  @include desktop {
    &--index {
      z-index: 0;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 4px;
        right: 0;
        left: calc(50% - 1px);
        background-image: url("../img/rastr/index-background-mobile@2x.jpg");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: cover;
        background-color: #64a83b;
        z-index: -1;

        @include retina {
          background-image: url("../img/rastr/index-background-desktop@2x.jpg");
        }
      }
    }
  }
}

.page-header__wrapper {
  @include container;

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @include desktop {
    padding-top: 52px;
  }
}
