.page-nav {
  margin: 0 -20px;
  border-top: 1px solid $header-border-grey;
}

.page-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 32px;
  font-size: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.page-nav__toggle::after {
  content: url("../../img/icon-mobile-menu.svg");
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 12px);
  width: 24px;
  height: 24px;
}

.page-nav__list {
  display: none;
  @include reset-list;
}

.page-nav__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid $header-border-grey;
}

.page-nav__link {
  color: $black;
  text-decoration: none;
}
