.page-logo {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 45px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &--index {
    pointer-events: none;
  }

  &--footer.page-footer__item {
    padding-top: 32px;
    padding-bottom: 19px;
    display: flex;
    justify-content: center;

    @include tablet {
      padding: 0;
      margin-right: 30px;

      .page-logo__title {
        width: 128px;
      }
    }
  }
}

.page-logo__image {
  width: 191px;

  @include tablet {
    width: 173px;
    height: 58px;
  }

  @include desktop {
    width: 202px;
    height: 59px;
  }
}
